Repository globaltravelreport/global-travel-report, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, test, documentation, dependencies, workflow, security, configuration

.github/labeler.yml:

# Add 'frontend' label to any change to files in the app directory
frontend:
  - app/**/*
  - components/**/*

# Add 'backend' label to any change to bot files
backend:
  - bots/**/*
  - scripts/**/*

# Add 'test' label to any change to test files
test:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/__tests__/**/*'

# Add 'documentation' label to any change to markdown files
documentation:
  - '**/*.md'
  - docs/**/*

# Add 'dependencies' label to any change in package files
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock

# Add 'workflow' label to any change in GitHub workflow files
workflow:
  - .github/workflows/*

# Add 'security' label to any change in security-related files
security:
  - .github/SECURITY.md
  - '**/security/**/*'

# Add 'configuration' label to any change in config files
configuration:
  - '*.config.js'
  - '*.config.ts'
  - .env.example
  - .gitignore

Update Categories page with custom icons and fix runtime error
  app/categories/page.tsx.bak
  public/sitemap-0.xml
  public/sitemap.xml
Labels: frontend

Implement comprehensive fixes and enhancements
  app/api/newsletter/route.ts
  components/ui/table.tsx
  components/ui/tabs.tsx
  components/ui/tooltip.tsx
Labels: frontend

fix: correct import aliases and ensure ads.txt for AdSense
  src/components/admin/PerformanceMonitor.tsx
  src/components/ads/AdSense.tsx
  src/components/analytics/WebVitalsTracker.tsx
  src/components/destinations/CountryDropdown.tsx
  src/components/home/Hero.tsx
  src/components/maps/WorldMap.tsx
  src/components/search/EnhancedSearchBar.tsx
  src/components/search/SearchForm.tsx
  src/components/stories/StoryCard.tsx
  src/components/stories/__tests__/StoryCard.test.tsx
  src/components/ui/AccessibilityMenu.tsx
  src/components/ui/EnhancedErrorBoundary.tsx
  src/components/ui/EnhancedImage.tsx
  src/components/ui/FreshnessIndicator.tsx
  src/components/ui/LazyLoad.tsx
  src/components/ui/MobileNav.tsx
  src/components/ui/OptimizedImage.tsx
  src/components/ui/OptimizedImageV2.tsx
  src/components/ui/ResponsiveContainer.tsx
  src/components/ui/ResponsiveImage.tsx
  src/components/ui/ResponsiveImageV2.tsx
  src/components/ui/SkipToContent.tsx
  src/components/ui/Typography.tsx
  src/hooks/useApi.ts
  src/hooks/useEnhancedErrorHandler.ts
  src/hooks/useErrorHandler.ts
  src/hooks/useFormSubmit.ts
  src/hooks/useSeoOptimizer.ts
  src/middleware/csrf.ts
  src/services/storyDatabase.ts
  src/services/storyProcessorService.ts
  src/services/storyRewrite.ts
  src/services/storyValidator.ts
  src/services/unsplashService.ts
  src/utils/fileStorage.ts
  src/utils/mongodb.ts
  src/utils/stories.ts
Labels: test

fix: correct import aliases and ensure ads.txt for AdSense
  src/hooks/useApi.ts
  src/hooks/useEnhancedErrorHandler.ts
Labels: none

feat: Complete admin story upload system with AI integration
  app/admin/layout.tsx
  app/admin/login/page.tsx
  app/admin/story-upload/page.tsx
  app/api/admin/check-auth/route.ts
  app/api/admin/login/route.ts
  app/api/admin/logout/route.ts
  app/api/admin/publish/route.ts
  app/api/admin/rewrite/route.ts
  app/api/contact/route.ts
  app/api/csrf/route.ts
  app/api/feed/rss/route.ts
  app/api/sitemap/route.ts
  app/api/verify-recaptcha/route.ts
  app/countries/[country]/page.tsx
  app/destinations/page.tsx
  app/layout.tsx
  app/search/page.tsx
  app/server-sitemap.xml/route.ts
  app/sitemap.ts
  app/stories/[slug]/page.tsx
  components/NewsletterSignup.tsx
  components/OptimizedImage.tsx
  components/admin/AdminHeader.tsx
  components/recommendations/CategoryStories.tsx
  components/recommendations/PopularStories.tsx
  components/recommendations/RelatedStories.tsx
  components/ui/alert.tsx
  components/ui/radio-group.tsx
  components/ui/select.tsx
  lib/auth.ts
  middleware.ts
  middleware/errorMonitoring.ts
  src/services/storyDatabase.ts
  utils/imageTracker.ts
  utils/slugify.ts
Labels: frontend

fix: update utils import paths and resolve Vercel build errors
  app/api/newsletter/route.ts
Labels: frontend

fix: ensure rate-limit utility and tsconfig path mappings are correct
  src/utils/rate-limit.ts
  tsconfig.json
Labels: none

fix: push remaining critical utility files for Vercel build
  src/utils/api-handler.ts
  src/utils/api-response.ts
  src/utils/error-handler.ts
Labels: none

fix: fixed broken import and ensured rate limiter exists
  utils/rate-limit.ts
Labels: none

fix: fixed broken import and ensured rate limiter exists
  app/api/newsletter/route.ts
  src/utils/api-handler.ts
  src/utils/api-response.ts
  src/utils/error-handler.ts
  src/utils/rate-limit.ts
  utils/rate-limit.ts
Labels: frontend

feat: improve mobile responsiveness with proper layout and viewport meta tag
  app/layout.tsx
  app/page.tsx
Labels: frontend

chore(cache-bust): rename README for clean Vercel deploy
  README-temp.md
Labels: documentation

fix: resolve Vercel build failure - lucide-react imports + accessibility issues
  components/ErrorBoundary.tsx
  components/admin/AdminHeader.tsx
  components/analytics/OverviewStats.tsx
  components/ui/alert.tsx
  fix_accessibility.js
  fix_lucide_imports.js
  fix_lucide_paths.js
  next.config.js
  package-lock.json
  package.json
  src/components/search/SearchForm.tsx
  src/components/ui/AccessibilityMenu.tsx
  src/components/ui/Breadcrumb.tsx
  src/components/ui/FreshnessIndicator.tsx
Labels: frontend, dependencies, configuration

chore: clean up unused files and Vercel artifacts
  CLEANUP_REPORT.md
  app/admin/story-upload/page.tsx
  app/api/stories/[slug]/route.ts
  app/categories/[slug]/page.tsx
  app/category-index/[category]/page.tsx
  app/countries/[country]/page.tsx
  app/search/page.tsx
  app/stories/[slug]/page.tsx
  cleanup.sh
  components/analytics/DateRangePicker.tsx
  lib/auth.ts
  middleware/errorMonitoring.ts
  package-lock.json
  package.json
  src/components/search/SearchForm.tsx
  src/components/ui/select.tsx
  src/hooks/useApi.ts
  src/hooks/useEnhancedErrorHandler.ts
  src/hooks/useErrorHandler.ts
  src/middleware/rate-limit.ts
  src/utils/__tests__/date-utils.test.ts
  src/utils/__tests__/test-utils.test.tsx
  src/utils/__tests__/type-utils.test.ts
  src/utils/api-handler.ts
  src/utils/api-response.ts
  src/utils/apiErrorHandler.ts
  src/utils/csrf.ts
  src/utils/enhanced-error-handler.ts
  src/utils/error-handler.ts
  src/utils/fileStorage.ts
  src/utils/rate-limit.ts
  utils/logger.ts
  utils/rate-limit.ts
  vercel.json.bak
Labels: frontend, test, documentation, dependencies

feat: add AdSense verification script to layout
  app/layout.tsx
Labels: frontend

fix: add proper accessibility support for interactive elements
  src/components/ui/select.tsx
Labels: none

fix: resolve TypeScript errors in dynamic routes
  CLEANUP_REPORT.pdf
  app/categories/[slug]/page.tsx
  app/category-index/[category]/page.tsx
  app/countries/[country]/page.tsx
  jest.d.ts
  src/config/countries.ts
  vercel-deployments.json
Labels: frontend

fix: resolve build errors - add polyfills for server-side rendering
  app/admin/content-audit/page.tsx
  app/admin/layout.tsx
  app/globals.js
  next.config.js
  polyfills/server.js
  src/components/StructuredData.tsx
  src/components/ui/ShareButtons.tsx
Labels: frontend, configuration

fix: resolve SSR build error by fixing webpack polyfill configuration
  next.config.js
Labels: configuration

fix: add simple global polyfill for 'self' in next.config.js
  next.config.js
Labels: configuration

fix: exclude framer-motion and leaflet from server bundle
  next.config.js
Labels: configuration

fix: define browser globals as undefined for server-side rendering
  next.config.js
Labels: configuration

fix: temporarily remove service worker to resolve SSR build error
  public/sw.js.bak
Labels: none

fix: exclude service worker files from server bundle to resolve SSR build error
  next.config.js
  public/sw-register.js.bak
  public/sw.js.bak2
Labels: configuration

fix: comprehensive SSR polyfills and webpack config to resolve self reference error
  app/layout.tsx
  next.config.js
  src/polyfills.ts
Labels: frontend, configuration

fix: simplify webpack config and exclude fast-levenshtein from server bundle
  next.config.js
Labels: configuration

chore: force deployment from main branch 05:21
  .vercel-deploy
Labels: none

fix: resolve lucide-react barrel optimization import errors
  components/ErrorBoundary.tsx
  components/NewsletterSignup.tsx
  components/admin/AdminHeader.tsx
  src/components/ui/Breadcrumb.tsx
  src/components/ui/EnhancedErrorBoundary.tsx
  src/components/ui/FreshnessIndicator.tsx
Labels: frontend

fix: resolve remaining lucide-react Filter import error
  src/components/search/SearchForm.tsx
Labels: none

Update package.json
  package.json
Labels: dependencies
